Package: com.linusyang.autovpn
Name: AutoVPN
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkapplist
Version: 1.2.1
Architecture: iphoneos-arm
Description: auto connect to vpn in selected apps
Maintainer: Linus Yang
Author: Linus Yang
Section: Tweaks
